내 깃허브 주소 https://github.com/purestory/volume-control
볼륨조절 프로그램 만들어줘
마우스 휠을 돌려서 볼륨조절 해
현재 볼륨 표시, 프로그래스바, 전체적으로 어둡고 투명하고 길게 표시
한번에 2씩 조절
휠돌리는 순간 마우스 위치에 표시, 사라지기 전까지는 위치 변경 하지 않음
입력이 없을시 2초후 사라짐
마우스가 작업표시줄에 있을때만 동작
